mixin layers()
    div.layers
        div.layers__layer.layers__layer-background
            | background-image
        div.layers__layer.layers__layer-glass
        div.layers__layer.layers__layer-content
            | Layer 3
