@mixin hexagon($width, $height, $color)


    width: $width
    height: $height
    background: $color
    position: relative
    transform: rotate(90deg)
    //margin-left: 5rem
    

    &:before 
        content: ""
        position: absolute
        top: (-$width/4)
        left: 0
        width: 0
        height: 0
        border-left: ($width/2) solid transparent
        border-right: ($width/2) solid transparent
        border-bottom: ($width/4) solid $color

    &:after 
        content: ""
        position: absolute
        bottom: (-$width/4) 
        left: 0
        width: 0
        height: 0
        border-left: ($width/2) solid transparent
        border-right: ($width/2) solid transparent
        border-top: ($width/4) solid $color



