@keyframes animateSlide 
    from 
        opacity: .4
    
    to 
        opacity: 1

.slider
    max-width: 140rem
    position: relative
    margin: auto
    height: 70rem
    margin-bottom: 15px

    &_item img 
        width: 140rem
        height: 70rem

    &_item 
        animation-name: animateSlide
        animation-duration: 1.5s
        height: 70rem
        display: none


        &-content
            position: absolute
            color: $lightGreyColor
            margin: 0 auto
            flex-direction: column
            left: 0
            right: 0
            top: 30%
            max-width: 80%


@mixin slideButton
    cursor: pointer
    position: absolute
    top: 45%
    padding: 2rem
    color: $lightGreyColor
    font-weight: bold
    font-size: 3rem
    transition: 0.6s ease

.slider .prev
    @include slideButton
    left: 0
    border-radius: 0 3px 3px 0

.slider .next 
    @include slideButton
    right: 0
    border-radius: 3px 0 0 3px


.slider .prev:hover, .slider .next:hover 
    background-color: rgba(0, 0, 0, 0.8)
    color: $activColor


.buttons
    margin-bottom: 180px
    margin-top: 50px
    height: 50px
    text-align: center

.button-dark
    @include button
    background-color: $bgHeader
    margin: 10px 15px
    transition-duration: .3s
    text-decoration: none

    &:hover
        background-color: $activColor
        color: $light