.post_meta {
  display: flex; }

.user-info {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 10rem auto; }

.user-info_wrap {
  display: flex;
  flex-wrap: wrap; }

.user-info_image {
  background: url("/assets/image/blog/user-big.png") no-repeat;
  background-size: cover;
  height: 26rem;
  width: 26rem;
  border: 1px solid #E7E7E7;
  margin: 0 3rem;
  padding: 1rem; }

.user-info_name {
  font-size: 3rem;
  font-weight: bold;
  color: #505050; }

.user-info_line {
  border: 1px solid #E0E0E0;
  width: 100%;
  margin: 3rem 0; }
