each spoilerItem in spoilerItems

    .spoiler-item
        .spoiler-container-icon-title
            .spoiler-icon
                img(src="./image/spoiler-icon-plus.png")
            .spoiler-title= spoilerItem.spoilerTitle
        .spoiler-content= spoilerItem.spoilerContent

