.contact(id="contact")
    .center
        h1 
            |Fined us 
            span.mark-color here
    h2.boldGrey 
        |Lorem ipsum dolor sit amet, consectetur 
        span.mark-color adipiscing elit. 
        |Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 


    .contact_wrap

        .contact_address

            span.boldGrey Egypt, Creativia
            br
            span.boldGrey Address: cairo 123
            br
            span Phone: +0201091915171
            br
            span Email: gfx3mr@gmail.com


        .contact_map
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d835.6048182876362!2d23.85125271194224!3d53.67465238881362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dfd647ffded557%3A0xad1208805e8dcb30!2z0JPQsNC70LDQutGC0LjQutCw!5e0!3m2!1sru!2sby!4v1544914671272" width="900" height="570" frameborder="0" style="border:0" allowfullscreen></iframe>

    .contact-bottom Creativia