.feature
    h1 
        |our 
        span.mark-color product features
    h2 
        |Lorem ipsum dolor sit amet, consectetur 
        span.mark-color adipiscing elit. 
        |Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis. 
    
    
    .feature_content
    
        .feature_column
            
            each featureItenName in featureItenNames
                .feature_item.feature_item-left 
                    .feature_item-name= featureItenName.name
                    .feature_item-icon
    
        .feature_image
            a.feature-button(href="#") free psd


        .feature_column

            each featureItenName in featureItenNames
                .feature_item.feature_item-right 
                    .feature_item-icon
                    .feature_item-name= featureItenName.name
                    