.follow
    .follow_layer.follow_layer-background
    .follow_layer.follow_layer-dark
        h1.white 
            |Follow 
            span.mark-color Creativia

        .follow_content
            .follow_content-item
                a.item_icon.hexagon-border(href="#")
                    img(src="/assets/image/follow/icon1.png")
                .item_digit 20000

            .follow_content-item
                a.item_icon.hexagon-border(href="#")
                    img(src="/assets/image/follow/icon2.png")
                .item_digit 99900

            .follow_content-item
                a.item_icon.hexagon-border(href="#")
                    img(src="/assets/image/follow/icon3.png")
                .item_digit 5000

            .follow_content-item
                a.item_icon.hexagon-border(href="#")
                    img(src="/assets/image/follow/icon4.png")
                .item_digit 200