doctype html
html
    head
        meta(charset="UTF-8")
        title Creativia

        link(rel="stylesheet" type="text/css" href="/libs/reset-css/reset.css")
        block head
    body
        
        block container

        

        block script

