doctype html
html
    head
        meta(charset="UTF-8")
        title spoiler

        
        
        link(rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.css")
        link(rel="stylesheet" type="text/css" href="/libs/reset-css/reset.css")
        link(rel="stylesheet" type="text/css" href="/style/style.css")
        
        block head
    body
        
        block container
            block variables
        script(src="/libs/jquery/jquery.js")
        script(src="/libs/bootstrap/js/bootstrap.bundle.js")
        script(src="/js/spoiler.js")
        script(src="/js/header.js")
        script(src="/js/slider.js")
        script(src="/js/main.js")
        block body

