extends ./_template.pug

block container

    include ./_main.pug

    include ./_about.pug

    include ./_portfolio.pug

    include ./_feature.pug

    include ./_client.pug
    
    include ./_team.pug

    include ./_skills.pug

    include ./_services.pug

    include ./_blog.pug

    include ./_follow.pug
