.clients
    background: url("/assets/image/client/bg-client.jpg") no-repeat
    margin: 0 auto
    width: 1400px
    height: 650px
    padding: 10rem 0
.white
    color: #fff

.light
    color: $menuLink

.client-content
    color: $menuLink
    margin: 5rem 0
h3 
    font-size: 2rem
    text-transform: uppercase
    text-align: center
    //margin-bottom: 5rem

.client-name
    font-size: 1.6rem
    color: $mark-color
    text-transform: uppercase
    margin: 2rem 0 3rem 0

.client_block
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    

.client
    margin: 10rem auto
    max-width: 1160px

.check_elements
    display: flex


.check_element
    width: 8px
    height: 8px
    margin: 0 3px
    background-color: #E0E0E0
