
$fs-h1: 30px
$fs-h2: 16px
$fs-h6: 20px
$p: 16px
$border-color: #E7E7E7
$bg-color: #F7F7F7
$mark-color: #FF0036
$width: 1170px
$menuLink: #A4A4A4
$menuLinkHover: #fff
$heightMenu: 7rem
$activColor: #FF0036
$bgHeader: #000000
$circleLight: #E0E0E0
$bgDark: #272727
$servicBlock: #343434
$servicBlockActiv: #3D2329

.mark-color 
    color: $mark-color

@mixin font-h($fs)
    text-align: center
    font-weight: bold
    font-size: $fs

h1
    @include font-h($fs-h1)

h2
    @include font-h($fs-h2)
    margin-top: 40px

@import 'component/_hexagon.sass'

@import './_main.sass'

@import './_about.sass'

@import './_portfolio.sass'

@import './_feature.sass'

@import './_client.sass'

@import './_team.sass'

@import './_skills.sass'

@import './_services.sass'