$border-color: #E7E7E7
$circleLight: #E0E0E0
$darkGreyColor: #505050



.post_meta
    display: flex

.user-info
    display: flex
    flex-direction: column
    max-width: 90rem
    margin: 10rem auto

.user-info_wrap
    display: flex
    flex-wrap: wrap


.user-info_image
    background: url('/assets/image/blog/user-big.png') no-repeat
    background-size: cover
    height: 26rem
    width: 26rem
    border: 1px solid $border-color
    margin: 0 3rem
    padding: 1rem

.user-info_name 
    font-size: 3rem
    font-weight: bold
    color: $darkGreyColor


.user-info_line
    border: 1px solid $circleLight
    width: 100%
    margin: 3rem 0

