
.main-slider


    .carousel.slide#carouselExampleControls(data-ride="carousel" data-interval="false")
        .carousel-inner
            .carousel-item.active

                img(src="/image/main/main-bg.jpg")
                .carousel-caption.d-none.d-block
                    h1 
                        |why 
                        span.mark-color creativia ?
                    h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae,
                    .buttons 
                        input.button-activ(value="features" type="button")
                        input.button-dark(value="free psd" type="button")

            .carousel-item
                img(src="/image/main/1.jpg")
                .carousel-caption.d-none.d-block
                    h2 About creative
                    button creative
        
            .carousel-item
                img(src="/image/main/2.jpg")
                .carousel-caption.d-none.d-block
                    h2 About creative
                    button creative
        



        a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
        a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next

