.spoilers
    each spoiler in spoilers
        .spoiler
            .spoiler_header
                .spoiler_header-icon
                    img(src="./image/spoiler-icon-plus.png")
                .spoiler_header-title= spoiler.spoilerTitle
            .spoiler_content= spoiler.spoilerContent

