.container
    .about-top
        h1
            | about 
            span.mark-color creativia
        h2
            | Lorem ipsum dolor sit amet, consectetur 
            span.mark-color adipiscing elit.
            | Integer sed magna vel velit dignissim luctus eu in urna. Dapibus egestas turpis.

    .about-center
        .row
            .col-lg-6.col-sm-12
                p.p-justify
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et dolor justo. Phasellus eu ligula ac nisl volutpat tincidunt. Vestibulum vitae rhoncus odio Fusce sed enim erat. Mauris dictum lorem eu tortor porta placerat. Suspendisse ac vestibulum eros. Nulla mi ipsum, consequat commodo condimentum vitae, 

                .spoiler
                    include components/_spoiler.pug

                

            .col-lg-6.col-sm-12.text-center
                img.about-left-img(src="./image/about/about2.jpg")



    .about-bottom-icons
        .row

            mixin linkClass(href)
                a(href=href)&attributes(attributes)
            

            each icon in aboutBottomIcons

                .col-lg-3.col-sm-6.text-center
                    +linkClass(icon.link)(class= "about-bottom-icon" + icon.id)
                    h6= icon.name
                    p= icon.content
